<!--{% section 'header' %}-->
<section id="hoi-dap" class="process-content no-padding white-bg qa">
    <div class="container-fluid p-5">
        <div class="section-title text-center">
            <h1 class="text-green text-bold header-title auto-center p-0 text-yellow">
                {{ post.title }}
            </h1>
        </div>
        <div class="row detail-news">
            <div class="cl-12">
                {{ post.content}}
            </div>
        </div>
        <!--- END CONTAINER -->
    </div>
</section>
<!--{% section 'footer' %}-->