<a class="logo-footer" href="{{ site.link }}" title="{{ site.name }}">
    <img class="lazy img-fluid" src="{{site.theme.link}}/assets/images/dot.jpg" data-src="{{ logo.src | default([site.theme.link,'/assets/images/logo.png'] | join) }}" alt="s">
</a>