<div class="items rs-video news-video" style="background-image: url('{{ post.thumbnail.src}}')">
    <a href="#">
        <div class="video-contents">
            <a class="play-btn" href="{{ post.link }}">
                <i class="fa fa-play"></i>
            </a>
            <h4 class="title white-color mt-18 mb-0">
                <a href="{{ post.link }}" >{{post.title}} </a>
            </h4>
        </div>
    </a>
</div>