<ul class="sub-menu-container" style="left: -500px">
    {% for category in categories %}
        <li class="menu-item">
            <a class="menu-link" href="{{ category.link }}">
                <div>{{ category.title }}</div>
            </a>
        </li>
    {% endfor %}
</ul>