{% for post in posts %}
<div class="single_portfolio">
    <a href="{{ post.link }}">
        <div class="box">
            <img src="{{ post.thumbnail.src }}" alt="">
        </div>
    </a>
    <a href="{{ post.link }}">
        <p class="text-white">
            {{ post.title }}
        </p>
    </a>
</div>
{% endfor %}