{% for post in posts %}
<div class="single_portfolio">
    <div class="box">
        <img src="{{ post.thumbnail.src }}" alt="">
    </div>
    <a href="{{ post.link }}">
        <p class="text-white">
            {{ post.title }}
        </p>
    </a>
</div>
{% endfor %}