{% if posts | length > 0 %}
    {{ posts[0].html }}
{% else %}
    <!--<a rel="nofollow" href='https://www.sieukeo.com?affcode=950196' alt='SIEUKEO Cược Thể Thao' class="external">
        <img class="lazy" src='https://via.placeholder.com/298x150' alt='SIEUKEO Tỷ Lệ Cược Bóng Đá Hôm Nay' />
    </a>-->
{% endif %}
