<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-dark" style="padding: 250px 0; background-image: url('{{site.theme.link}}/assets/images/about/parallax.jpg'); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">
    <div class="container clearfix">
        <h1>About Us</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ site.link }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </div>
</section><!-- #page-title end -->
<section id="content">
    <div class="content-wrap pt-4">
        <div class="container clearfix">

            <div class="single-post mb-0">

                <!-- Single Post
                ============================================= -->
                <div class="entry clearfix">
                    <!-- Entry Content
                    ============================================= -->
                    <div class="entry-content mt-0 " style="text-align: justify">
                        {{ post.content | raw }}
                        <!-- Post Single - Content End -->
                        <div class="clear"></div>

                        <!-- Post Single - Share
                        ============================================= -->
                        <div class="si-share border-0 d-flex justify-content-between align-items-center">
                            <span>Share this Post:</span>
                            <div>
                                <a href="#" class="social-icon si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                            </div>
                        </div><!-- Post Single - Share End -->

                    </div>
                </div><!-- .entry end -->
            </div>

        </div>
    </div>
</section><!-- #content end -->