{% section 'header-en' %}
<section id="news" class="testimonial-area  bg-before no-padding mt-5 pt-4 pb-5" style="background-image: url(/assets/images/testimonial-bg.png);  background-size:cover; background-position: center center;color: white">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mt-0 mb-3">
                <h1 class="text-red text-bold header-title pt-0 mt-0 auto-center text-asss" style="color: #fcc252">
                    PROJECT INFORMATION UPDATE
                </h1>
                <p class="mt-3 p-justify">
                    On October 28, 2020, Celesta Rise held a signing ceremony and announced a strategic cooperation with leading distributors in Ho Chi Minh and Hanoi markets. Marked the beginning of distributing the upcoming projects of Celesta Rise.
                </p>
            </div>
        </div>
        <!-- END ROW -->
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div id="work-slider-3" class="owl-carousel work-slider-img">
                    <div class="single_portfolio">
                        <div class="box">
                            <img src="/assets/images/23.png" alt="">
                        </div>
                    </div>
                    <div class="single_portfolio">
                        <div class="box">
                            <img src="/assets/images/24.png" alt="">
                        </div>
                    </div>
                    <div class="single_portfolio">
                        <div class="box">
                            <img src="/assets/images/25.png" alt="">
                        </div>
                    </div>
                </div>
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
</section>
<section id="question_2222" class="works_area section-padding pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="section-title text-center mb-2 feature_area_check">
                <h1 class="text-bold header-title auto-center text-asss pt-0">
                    Q&A
                    <p style="width: auto;">before deciding to invest in Celesta Rise Luxury Apartment project</p>
                </h1>
            </div>
            <div class="accordion row" id="accordionExample">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" id="heading1">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>1</span>
                                        <img src="/assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link align-middle">
                                        What is the total project area?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                            <div class="card-body">
                                <p> - 2.78 hectares</p>
                                including:<br>
                                <p>- 5 blocks of 20 floors</p>
                                <p>- 923 luxury apartments</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo" id="heading2">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>2</span>
                                        <img src="/assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Who is involved in construction design and management?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                            <div class="card-body">
                                - Management and operation: Savills <br>
                                - Architectural design consultant: Aedas <br>
                                - Landscape design consultant: Belt Collins <br>
                                - Interior design consultant: Ong & Ong <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" id="heading3">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>3</span>
                                        <img src="/assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        What is the expected selling price from the investor?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                            <div class="card-body">
                                - Apartment without furniture: 45 million/m2 <br>
                                - Fully furnished apartment: 50 million/m2 <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4" id="heading4">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>4</span>
                                        <img src="/assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link">
                                        Detailed description of each product in the whole project?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                            <div class="card-body">
                                Approximately 293 apartments - High-class apartment, Shophouse, Officetel and utility chain
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" id="heading5">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>5</span>
                                        <img src="/assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Does the project have a connection with any banks?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                            <div class="card-body">
                                Investor directly supports payment with buyers and is not affiliated with any banks
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" id="heading6">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>6</span>
                                        <img src="/assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        When is the expected time to hand over the house?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                            <div class="card-body">
                                Expected handover time: 2023
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-title text-center mt-3 mb-3">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold" data-wow-delay=".4s">
                        Register <br>
                        receive information now!
                    </a>
                </div>
            </div>
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
{% section 'footer-en' %}